* {
    box-sizing: border-box;
}

body{


}
header{
    text-align: center;
    background-color: black;
}

.fiftyburger {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    width: 260px;
}